*{
   margin: 0px;
   padding: 0px;

}

.signup{
    background-image: url('../pages/src/img/signup/registerbg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  
  }
  h3{
    
    font-size: 30 px;
    color: rgb(18, 14, 14);
    
  
  
     
  
  }
  .form-label{
  
    margin-bottom: 0.5rem;
    margin-top: 20px;
    font-size: 20px;

      

  }

  .form-control {
    display: block;
    /* width: 100%; */
    /* padding: 0.375rem 0.75rem; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0.7rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .dropdown{
    background-color:#b9c4d1;
    box-shadow: 5px;
    width: 307px;
    border-radius: 0.7rem;
    transition:  0.2s ease
    



    
  }
  .dropdown:hover{
    background-color: rgb(8, 9, 10);
    box-shadow: -0px -0px 100px rgb(219, 72, 4);
    width: 307px;
    border-radius: 0.7rem;
    transition:  0.2s ease;
    color: white;
    
  }

 .option{
    color: rgb(0, 16, 236);
    font-size: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid white;
    transition: 0.2s ease;
    cursor: pointer;
    
  }



  .dropdown:hover .option{
    background-color: rgb(8, 9, 10);
    box-shadow: -0px -0px 100px rgb(219, 72, 4);
    width: 307px;
    border-radius: 0.7rem;
    transition:  0.2s ease;
    color: rgb(12, 174, 223);
    
  }
  
  .registerbtn{
    border-radius: 0.7rem;
  }

  .borderform{
    border: 1px solid rgb(219, 72, 4);
    border-radius: 0.7rem;
    transition: 0.2s ease;
    background-color: rgb(0, 0, 0, 0.4);
    box-shadow: -1px 1px 60px 10px rgba(0, 0, 0, 0);
    margin-top: 15px;
    margin-bottom: 10px;
 
  }

